@import "../globalStyle/vars";
@import "../globalStyle/template";
@import "../globalStyle/header";
@import "../globalStyle/maps";
@import "../globalStyle/footer";

// Author: Olga

.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.main__services {
  font-family: $font;
  min-height: 420px;
  background-image: url(../../images/services/bg-machines.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-inline: 20px;
  @media (max-width: 480px) {
    min-height: 0;
  }
  .main__services-title {
    font-weight: 700;
    font-size: 58px;
    text-align: center;
    color: $text-light-color;
    padding: 107px 0 31px 0;
    @media (max-width: 1024px) {
      padding: 77px 0 51px 0;
    }
    @media (max-width: 864px) {
      font-size: 45px;
    }
    @media (max-width: 480px) {
      font-size: 35px;
      padding-top: 30px;
      padding-bottom: 15px;
    }
    @media (max-width: 360px) {
      font-size: 25px;
    }
  }
  .main__services-title-text {
    margin-inline: auto;
    @include default-p($text-light-color);
    max-width: 892px;
    text-align: center;
    @media (max-width: 1400px) {
      font-size: 30px;
      line-height: 45px;
      max-width: none;
    }
    @media (max-width: 1024px) {
      line-height: 35px;
    }
    @media (max-width: 864px) {
      line-height: 30px;
      font-size: 25px;
    }
    @media (max-width: 480px) {
      font-size: 20px;
      padding-bottom: 30px;
    }
    @media (max-width: 360px) {
      font-size: 15px;
      line-height: 18px;
    }
  }
}
.default-wrapper {
  @extend %default-wrapper;
  display: flex;
  justify-content: center;
  @media (max-width: 1400px) {
    flex-wrap: wrap;
  }
}
.main__drilling-work {
  display: flex;
  justify-content: space-between;
  flex: 0 1 50%;
  @media (max-width: 1400px) {
    flex-wrap: wrap;
    flex: 0 1 100%;
    justify-content: center;
  }
}
.main__drilling-work2 {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  background-image: url(../../images/services/crystal-background.png);
  img {
    padding: 80px 0px;
  }
}
.main__drilling-work-foto {
  img {
    padding: 80px 60px 80px 40px;
    @media (max-width: 1400px) {
      padding: 40px;
      padding-top: 60px;
    }
    @media (max-width: 768px) {
      max-width: 100%;
    }
    @media (max-width: 480px) {
      padding: 10px;
    }
  }
}
.main__drilling-work-foto2 {
  @media (max-width: 1400px) {
    order: -1;
  }
  img {
    padding: 80px 0px;
    @media (max-width: 1400px) {
      padding: 40px;
    }
    @media (max-width: 768px) {
      max-width: 100%;
    }
    @media (max-width: 480px) {
      padding: 10px;
    }
  }
}
.main__drilling-work-inform-text {
  width: 790px;
  padding: 80px 0px 0px 0px;
  @media (max-width: 1400px) {
    text-align: center;
    padding: 0;
    width: 100%;
  }
}
.main__drilling-work-inform-text2 {
  padding: 80px 60px 0px 0px;
  width: 790px;
  @media (max-width: 1400px) {
    padding: 0;
    width: 100%;
    text-align: center;
  }
}
.main__drilling-work-inform-text-h2 {
  @include default-h($text-dark-color);
  padding-bottom: 15px;
  @media (max-width: 1400px) {
    padding: 0 40px 30px 40px;
  }
  @media (max-width: 864px) {
    font-size: 40px;
  }
  @media (max-width: 576px) {
    font-size: 30px;
  }
  @media (max-width: 480px) {
    padding: 0 0 10px 0;
    font-size: 25px;
  }
  @media (max-width: 360px) {
    font-size: 20px;
    padding: 0;
  }
  @media (max-width: 320px) {
    font-size: 18px;
    line-height: 35px;
  }
}
.main__drilling-work-inform-text-p {
  @include default-p($text-blue-color);
  padding-bottom: 30px;
  @media (max-width: 1400px) {
    padding: 0 40px 30px 40px;
  }
  @media (max-width: 480px) {
    display: none;
  }
}
.main__drilling-work-inform-bt {
  @media (max-width: 1400px) {
    text-align: center;
    padding-bottom: 40px;
  }
  @media (max-width: 480px) {
    padding-bottom: 15px;
  }
  @media (max-width: 360px) {
    padding-bottom: 5px;
  }
  .main__drilling-work-inform-bt-btn {
    @include default-btn(237px, $text-light-color, $btn-link-dark-color, 0px);
    @media (max-width: 480px) {
      padding-block: 8px 8px;
      max-width: 200px;
      line-height: 20px;
    }
    @media (max-width: 360px) {
      font-size: small;
    }
  }
}
.main__map-box {
  @media (max-width: 480px) {
    display: none;
  }
  .main__map {
    position: relative;
  }
  .main__map-contacts {
    margin-inline: auto;
    background-color: $text-light-color;
    font-family: $font;
    max-width: 650px;
    padding: 40px;
    position: absolute;
    top: 115px;
    left: 160px;
    z-index: 2;
    @media (max-width: 1900px) {
      max-width: 33%;
      top: 100px;
      left: 140px;
    }
    @media (max-width: 1400px) {
      padding: 30px;
      top: 25px;
      left: 25px;
    }
    @media (max-width: 1024px) {
      max-width: 50%;
      top: 65px;
    }
    @media (max-width: 640px) {
      max-width: 70%;
    }
    .main__map-contacts-all {
      padding-bottom: 14px;
      @media (max-width: 1024px) {
        display: none;
      }
      .main__map-contacts-questions {
        font-weight: 700;
        font-size: 45px;
        line-height: 56px;
        color: $text-dark-color;
        @media (max-width: 1400px) {
          font-size: 35px;
          line-height: 40px;
        }
      }
      .main__map-contacts-email {
        font-weight: 700;
        font-size: 35px;
        line-height: 46px;
        color: $btn-link-dark-color;
        @media (max-width: 1400px) {
          font-size: 30px;
        }
      }
    }
    .main__map-contacts-all-info {
      display: grid;
      grid-template-columns: 300px 3fr;
      grid-template-rows: 100px 100px 50px;
      gap: 15px;
      @media (max-width: 1900px) {
        grid-template-columns: 50% 50%;
      }
      @media (max-width: 1400px) {
        grid-template-columns: none;
        grid-template-rows: none;
      }
      .main__map-contacts1,
      .main__map-contacts2 {
        width: 300px;
        display: flex;
      }
      .main__map-contactsh2 {
        font-weight: 700;
        font-size: 20px;
        color: $text-dark-color;
        padding-bottom: 15px;
      }
      p {
        @include default-p($text-blue-color);
        color: #949393;
      }
      .main__map-contactsh3 {
        font-weight: 700;
        font-size: 20px;
        color: $text-dark-color;
        padding-bottom: 15px;
      }
    }
    .main__map-contacts1-img,
    .main__map-contacts2-img {
      .img {
        padding-right: 10px;
      }
    }
  }
}
.main__map-request {
  margin-inline: auto;
  background-color: $text-light-color;
  font-family: $font;
  width: 550px;
  display: flex;
  flex: 0 1 50%;
  justify-content: space-between;
  @media (max-width: 1900px) {
    width: 100%;
  }
  .main__map-request-icons {
    img {
      padding-right: 15px;
    }
  }
}
.main__map-request-btn {
  .main__drilling-work-inform-bt-btn {
    @include default-btn(237px, $text-light-color, $btn-link-dark-color, 0px);
    padding: 15px;
    font-weight: 700;
    font-size: 18px;
  }
}

