/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", medium, 500 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Medium/Roboto-Medium.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Medium/Roboto-Medium.otf) format("otf"), url(../../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium) format("svg"), url(../../fonts/Roboto-Medium/Roboto-Medium.ttf) format("truetype"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff) format("woff"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", medium, 500 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Medium/Roboto-Medium.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Medium/Roboto-Medium.otf) format("otf"), url(../../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium) format("svg"), url(../../fonts/Roboto-Medium/Roboto-Medium.ttf) format("truetype"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff) format("woff"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.main .main__wrapper, .header__container {
  max-width: 1600px;
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
}

/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", medium, 500 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Medium/Roboto-Medium.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Medium/Roboto-Medium.otf) format("otf"), url(../../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium) format("svg"), url(../../fonts/Roboto-Medium/Roboto-Medium.ttf) format("truetype"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff) format("woff"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", medium, 500 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Medium/Roboto-Medium.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Medium/Roboto-Medium.otf) format("otf"), url(../../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium) format("svg"), url(../../fonts/Roboto-Medium/Roboto-Medium.ttf) format("truetype"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff) format("woff"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.main .main__wrapper, .header__container {
  max-width: 1600px;
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
}

.header {
  background-image: url(../../images/global/header/bg.png);
  background-size: cover;
}
.header__container {
  padding-block: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container .header__logo {
  width: 164px;
  height: 51px;
  background-size: cover;
}
.header__container .header__burger-menu-btn {
  width: 35px;
  height: 35px;
  background: url(../../images/global/header/burger-bar.png);
  background-size: cover;
  border: none;
  cursor: pointer;
  display: none;
}
.header__container .header__nav-info-wrapper {
  max-width: 940px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container .header__nav-info-wrapper .header__nav {
  max-width: 560px;
  width: 100%;
}
.header__container .header__nav-info-wrapper .header__nav .header__nav-list {
  display: flex;
  justify-content: space-between;
}
.header__container .header__nav-info-wrapper .header__nav .header__nav-list .header__nav-list-item {
  transition: 0.3s;
}
.header__container .header__nav-info-wrapper .header__nav .header__nav-list .header__nav-list-item:hover {
  transform: scale(1.2);
}
.header__container .header__nav-info-wrapper .header__nav .header__nav-list .header__nav-list-item:active .header__link {
  transition: 0s;
  color: #ffec8b;
}
.header__container .header__nav-info-wrapper .header__nav .header__nav-list .header__nav-list-item .header__link {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
}
.header__container .header__nav-info-wrapper .header__nav .header__nav-list .header__nav-list-item .header__link_bold {
  font-weight: bold;
}
.header__container .header__nav-info-wrapper .header__info-wrapper {
  max-width: 332px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__phone-wrapper {
  display: flex;
  justify-content: space-between;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__phone-wrapper .header__phone-keys-icon {
  margin-right: 8px;
  width: 21px;
  height: 29px;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__phone-wrapper .header__phone-num-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__phone-wrapper .header__phone-num-wrapper .header__phone-num {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: white;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__phone-wrapper .header__phone-num-wrapper .header__order-call {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__phone-wrapper .header__phone-num-wrapper .header__order-call:hover {
  transform: scale(1.1);
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__white-vert-line {
  width: 1px;
  height: 17px;
  background-color: white;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__search-btn {
  width: 16px;
  height: 16px;
  background: url(../../images/global/header/search-loupe.svg);
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__search-btn:hover {
  transform: scale(1.5);
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__language-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__language-wrapper .header__language-flag-img {
  width: 16px;
  height: 16px;
  margin-right: 9px;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__language-wrapper .header__select-language-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__language-wrapper .header__select-language-wrapper .header__curr-language {
  margin-right: 6px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: white;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__language-wrapper .header__select-language-wrapper .header__choose-language-btn {
  width: 7px;
  height: 4px;
  background: url(../../images/global/header/arrow.svg);
  background-size: cover;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.header__container .header__nav-info-wrapper .header__info-wrapper .header__language-wrapper .header__select-language-wrapper .header__choose-language-btn:hover {
  transform: scale(1.5);
}

/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", medium, 500 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Medium/Roboto-Medium.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Medium/Roboto-Medium.otf) format("otf"), url(../../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium) format("svg"), url(../../fonts/Roboto-Medium/Roboto-Medium.ttf) format("truetype"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff) format("woff"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", medium, 500 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Medium/Roboto-Medium.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Medium/Roboto-Medium.otf) format("otf"), url(../../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium) format("svg"), url(../../fonts/Roboto-Medium/Roboto-Medium.ttf) format("truetype"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff) format("woff"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.main .main__wrapper, .header__container {
  max-width: 1600px;
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
}

/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", medium, 500 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Medium/Roboto-Medium.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Medium/Roboto-Medium.otf) format("otf"), url(../../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium) format("svg"), url(../../fonts/Roboto-Medium/Roboto-Medium.ttf) format("truetype"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff) format("woff"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
/* font "Roboto", normal, 400 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Regular/Roboto-Regular.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Regular/Roboto-Regular.otf) format("otf"), url(../../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular) format("svg"), url(../../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"), url(../../fonts/Roboto-Regular/Roboto-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* font "Roboto", medium, 500 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Medium/Roboto-Medium.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Medium/Roboto-Medium.otf) format("otf"), url(../../fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium) format("svg"), url(../../fonts/Roboto-Medium/Roboto-Medium.ttf) format("truetype"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff) format("woff"), url(../../fonts/Roboto-Medium/Roboto-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
/* font "Roboto", bold, 700 */
@font-face {
  font-family: "Roboto";
  /* IE9 Compat Modes */
  src: url(../../fonts/Roboto-Bold/Roboto-Bold.eot);
  /* Trying to find out that font in system */
  src: local("DM Mono"), url(../../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../../fonts/Roboto-Bold/Roboto-Bold.otf) format("otf"), url(../../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold) format("svg"), url(../../fonts/Roboto-Bold/Roboto-Bold.ttf) format("truetype"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff) format("woff"), url(../../fonts/Roboto-Bold/Roboto-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}
.global-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.main .main__wrapper, .header__container {
  max-width: 1600px;
  width: 100%;
  margin-top: 0;
  margin-inline: auto;
}

.main {
  font-family: "Roboto";
  background-color: D9D9D9;
}
.main .main__global-container-title {
  background-image: url(../../images/works/bg-drilling.png);
  width: 100%;
  min-height: 419px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 102px;
}
.main .main__global-container-title .main__global-container-title-text {
  max-width: 813px;
  width: 100%;
  min-height: 63px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: white;
  text-align: center;
}
.main .title-heading {
  max-width: 892px;
  margin-bottom: 31px;
  font-family: "$font";
  font-weight: 700;
  font-size: 58px;
  line-height: 55px;
  text-align: center;
  color: white;
}
.main .main__wrapper .main__wrapper-common {
  display: flex;
}
.main .main__wrapper .main__wrapper-common .main__wrapper-common-picture {
  margin-right: 47px;
}
.main .main__wrapper .main__wrapper-common .main__wrapper-common-text-paragrph {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #405267;
  margin-top: 20px;
}
.main .main__wrapper .main__wrapper-minerals-title {
  margin-bottom: 20px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 28px;
  color: #141414;
}
.main .main__wrapper .main__wrapper-common-text-paragrph {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #405267;
  margin-bottom: 20px;
}
.main .main__wrapper-common-best {
  max-width: 1420px;
  min-height: 98px;
  display: flex;
}
.main .main__wrapper-common-best .main__wrapper-common-best-item {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 50px;
}
.main .main__wrapper-common-best .main__wrapper-common-best-item .main__wrapper-common-best-item-picture {
  margin-right: 15px;
}
.main .main__wrapper-common-best .main__wrapper-common-best-item .main__wrapper-common-best-item-text {
  display: flex;
  flex-direction: column;
}
.main .common-text-heading {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 45px;
  line-height: 46px;
  color: #102441;
}
.main .title-best {
  max-width: 181;
  min-height: 38px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  align-items: center;
  color: #203e75;
}
.main .text-best {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #405267;
  max-width: 306px;
  width: 100%;
  min-height: 57px;
}
.main .main__wrapper-certificates {
  margin-bottom: 46px;
}
.main .main__wrapper-certificates .main__wrapper-certificates-common {
  max-width: 513px;
  min-height: 91px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}
.main .main__wrapper-common-why {
  min-height: 432px;
  display: flex;
  width: 100%;
  margin-bottom: 35px;
}
.main .main__wrapper-common-why .main__wrapper-common-why-text {
  margin-top: 55px;
  width: 50%;
}
.main .main__wrapper-common-why .main__wrapper-common-why-text .common-text-heading {
  margin-bottom: 44px;
}
.main .main__wrapper-common-why .main__wrapper-common-why-text .main__wrapper-common-best-wrap {
  display: flex;
  flex-wrap: wrap;
}
.main .main__wrapper-common-why .main__wrapper-common-why-text .main__wrapper-common-best-wrap .main__wrapper-common-best-item {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 50px;
}
.main .main__wrapper-common-why .main__wrapper-common-why-text .main__wrapper-common-best-wrap .main__wrapper-common-best-item .main__wrapper-common-best-item-picture {
  margin-right: 15px;
}
.main .main__container-additional {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: url(../../images/works/blue-crystal-background.png);
  min-height: 905px;
}
.main .main__container-additional .main__container-additional-map {
  min-height: 663px;
  background-image: url(../../images/works/map.png);
  margin-top: 95px;
}
.main .main__container-additional .main__link {
  background-color: #203e75;
  padding: 16px 54px 19px 55px;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: white;
}
.main .main__container-additional .common-text-heading {
  padding-top: 110px;
  margin-bottom: 39px;
}
.main .main__container-additional .main__wrapper-projecting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}
.main .main__container-additional .main__wrapper-projecting .main__wrapper-projecting-item-text {
  background-color: white;
  max-width: 508px;
  min-height: 224px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 32px;
}
.main .main__container-additional .main__wrapper-projecting .main__wrapper-projecting-item-text .main__wrapper-projecting-item-date {
  background-color: #f1f4f8;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #405267;
  margin: 20px 0 14px 0;
}
.main .main__container-additional .main__wrapper-projecting .main__wrapper-projecting-item-text .main__wrapper-projecting-item-heading {
  max-width: 350px;
  min-height: 66px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #141414;
  text-align: start;
}
.main .main__container-additional .main__wrapper-projecting .main__wrapper-projecting-item-text .main__wrapper-projecting-item-content {
  max-width: 460px;
  min-height: 74px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #405267;
  text-align: start;
}/*# sourceMappingURL=works.css.map */