@import "../globalStyle/vars";
@import "../globalStyle/template";
@import "../globalStyle/header";
@import "../globalStyle/maps";
@import "../globalStyle/footer";

// Author: Oksana

.main {
  font-family: $font;
  background-color: D9D9D9;

  .main__global-container-title {
    background-image: url(../../images/works/bg-drilling.png);
    width: 100%;
    min-height: 419px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 102px;

    .main__global-container-title-text {
      max-width: 813px;
      width: 100%;
      min-height: 63px;
      @include default-p($text-light-color);
      text-align: center;
    }
  }
  .title-heading {
    max-width: 892px;
    margin-bottom: 31px;
    font-family: "$font";
    font-weight: 700;
    font-size: 58px;
    line-height: 55px;
    text-align: center;
    color: $text-light-color;
  }
  .main__wrapper {
    @extend %default-wrapper;
    .main__wrapper-common {
      display: flex;
      .main__wrapper-common-picture {
        margin-right: 47px;
      }
      .main__wrapper-common-text-paragrph {
        @include default-p($text-blue-color);
        margin-top: 20px;
      }
    }
    .main__wrapper-minerals-title {
      margin-bottom: 20px;
      margin-top: 40px;
      font-weight: 700;
      font-size: 32px;
      line-height: 28px;
      color: $text-black-color;
    }
    .main__wrapper-common-text-paragrph {
      @include default-p($text-blue-color);
      margin-bottom: 20px;
    }
  }
  .main__wrapper-common-best {
    max-width: 1420px;
    min-height: 98px;
    display: flex;
    .main__wrapper-common-best-item {
      display: flex;
      justify-content: start;
      align-items: start;
      margin-bottom: 50px;
      .main__wrapper-common-best-item-picture {
        margin-right: 15px;
      }

      .main__wrapper-common-best-item-text {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .common-text-heading {
    @include default-h($text-dark-color);
  }
  .title-best {
    max-width: 181;
    min-height: 38px;
    font-family: $font;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    color: $btn-link-dark-color;
  }
  .text-best {
    font-family: $font;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: $text-blue-color;
    max-width: 306px;
    width: 100%;
    min-height: 57px;
  }
  .main__wrapper-certificates {
    margin-bottom: 46px;
    .main__wrapper-certificates-common {
      max-width: 513px;
      min-height: 91px;
      margin: 0 auto;
      text-align: center;
      margin-top: 100px;
      margin-bottom: 20px;
    }
  }
  .main__wrapper-common-why {
    min-height: 432px;
    display: flex;
    width: 100%;
    margin-bottom: 35px;
    .main__wrapper-common-why-text {
      margin-top: 55px;
      width: 50%;
      .common-text-heading {
        margin-bottom: 44px;
      }
      .main__wrapper-common-best-wrap {
        display: flex;
        flex-wrap: wrap;
        .main__wrapper-common-best-item {
          display: flex;
          justify-content: start;
          align-items: start;
          margin-bottom: 50px;
          .main__wrapper-common-best-item-picture {
            margin-right: 15px;
          }
        }
      }
    }
  }
  .main__container-additional {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: url(../../images/works/blue-crystal-background.png);
    min-height: 905px;
    .main__link {
      background-color: $btn-link-dark-color;
      padding: 16px 54px 19px 55px;
      text-decoration: none;
      font-family: $font;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: $text-light-color;
    }
    .common-text-heading {
      padding-top: 110px;
      margin-bottom: 39px;
    }
    .main__wrapper-projecting {
      display: flex;
      justify-content: space-between;
      margin-bottom: 56px;

      .main__wrapper-projecting-item-text {
        background-color: white;
        max-width: 508px;
        min-height: 224px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-left: 32px;
        .main__wrapper-projecting-item-date {
          background-color: #f1f4f8;
          font-family: $font;
          font-weight: 400;
          font-size: 12px;
          line-height: 26px;
          color: $text-blue-color;
          margin: 20px 0 14px 0;
        }
        .main__wrapper-projecting-item-heading {
          max-width: 350px;
          min-height: 66px;
          font-family: $font;
          font-weight: 700;
          font-size: 24px;
          line-height: 26px;
          color: $text-black-color;
          text-align: start;
        }
        .main__wrapper-projecting-item-content {
          max-width: 460px;
          min-height: 74px;
          font-family: $font;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: $text-blue-color;
          text-align: start;
        }
      }
    }
  }
}
